/*
* {
    box-sizing: border-box;
}
*/

.container {
    justify-content: center;
}

#texto1 {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#texto1 h1 {
    font-size: 40pt;
    color: rgb(0, 118, 228);
}

.container2 {
    display: block;
    justify-content: center;
    background-color: yellowgreen;
    padding: 20px;
}

.texto2 {
    display: flex;
    text-align: justify;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texto2 p {
    width: 400px;
    margin: 30px 70px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto2 h1 {
    font-size: 25pt;
}

.texto2-diferente {
    display: flex;
    text-align: justify;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texto2-diferente p {
    width: 950px;
    margin: 30px 70px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}